{
    "root": true,
    "extends": "airbnb-base",
    "globals": {
        "myModule": true,
        "describe": true,
        "before": true,
        "it": true,
        "after": true,
        "expect": true,
        "app": true
    },
    "env": {
        "es6": true,
        "node": true
    },
    "rules": {
        "arrow-body-style": [
            0,
            "as-needed"
        ],
        "max-len": [
            "error",
            250
        ],
        "no-use-before-define": [
            "error",
            {
                "functions": false,
                "classes": true
            }
        ],
        "no-prototype-builtins": 0,
        "no-underscore-dangle": 0,
        "no-param-reassign": 0,
        "indent": "off",
        "eol-last": "off",
        "arrow-parens": "off",
        "function-paren-newline": "off"
    }
}